.container {
  max-width: 1300px;
  margin: auto;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  align-items: center;
}

.search input {
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-family: Maison Neue;
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 40px;
  width: 450px;
}

button {
  background-color: #f5f6f7;
  color: rgb(75, 178, 187);
  border: 1px solid rgb(75, 178, 187);
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}

.button-sold {
  color: #f5f6f7;
  background-color: rgb(75, 178, 187);
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
}

.logout {
  color: #f5f6f7;
  background-color: rgb(196, 62, 92);
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  border: none;
}

.home-hero img {
  height: 630px;
  width: 100%;
  padding-bottom: 30px;
  object-fit: cover;
}

.home-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  cursor: pointer;
}

/* ------OFFER------ */
.offer {
  background-color: rgb(235, 237, 238);
  padding-top: 35px;
  height: calc(100vh - 10px);
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.offer img {
  width: 450px;
  height: 600px;
  object-fit: cover;
}

.offer-price {
  width: 320px;
  height: 520px;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.offer-price button {
  color: #fff;
  background-color: rgb(75, 178, 187);
  border-radius: 5px;
  font-size: 16px;
  height: 36px;
  outline: none;
  width: 320px;
  height: 35px;
}

.price {
  color: #111;
  font-size: 24px;
  line-height: 32px;
}

.offer-list li {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-list span:nth-child(odd) {
  color: #999;
}

.offer-list span:nth-child(2n) {
  color: #666;
  font-weight: 700;
}

.offer-content p {
  margin-bottom: 35px;
}

.offer-content img {
  width: 50px;
  height: 50px;
}

.card {
  text-decoration: none;
}

.card-img img {
  width: 235px;
  height: 398px;
  object-fit: cover;
}

.card-img:last-child {
  margin-bottom: 30px;
}

.card-img:first-child p {
  padding: 2px;
}

.avatar {
  align-items: center;
  display: flex;
  padding: 10px;
}

.avatar img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* ------FORM SIGNUP------ */
.signup-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
  height: 70vh;
  align-items: center;
}

.signup-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  width: 275px;
  outline: none;
}

.checkbox-form {
  margin-top: 20px;
  padding: 10px;
  width: 230px;
  height: 100px;
}

p {
  color: #999;
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}

.checkbox-form input {
  width: 20px;
  height: 20px;
}

.checkbox-form span {
  color: #666;
}

.button-submit {
  color: #fff;
  background-color: rgb(75, 178, 187);
  border-radius: 5px;
  font-size: 16px;
  height: 36px;
  outline: none;
  width: 230px;
  height: 35px;
  margin-bottom: 15px;
}

.checkbox-form-link {
  color: #2cb1ba;
  font-size: 12px;
}

/* ------FORM LOGIN------ */
.button-login {
  color: #fff;
  background-color: rgb(75, 178, 187);
  border-radius: 5px;
  font-size: 16px;
  height: 36px;
  outline: none;
  width: 230px;
  height: 35px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.login-link {
  color: #2cb1ba;
  font-size: 12px;
}
